:root {
  font-size: 16px;
  /* Core colors */
  --white: #ffffff;
  /* --very_light_gray: #f3f3f3;
  --light_gray: #cccccc; */
  --clay_gray: #cbcbc4;
  --black: #171717;
  --full_black: #000000;

  /* Interaction state colors */

  --gray: #757575;
  --light_gray: #adadad;
  --blue: #007aff;
  --red: #ff3040;

  /* Color tokens */

  --text_subdued: var(--gray);
  --text_disabled: var(--light_gray);
  --logo-fill: var(--black);

  /* Font scale */
  --scale-12: 0.75rem;
  --scale-13: 0.8125rem;
  --scale-14: 0.875rem;
  --scale-16: 1rem;
  --scale-18: 1.125rem;
  --scale-20: 1.25rem;
  --scale-24: 1.5rem;
  --scale-32: 2rem;
  --scale-36: 2.25rem;
  --scale-42: 2.625rem;
  --scale-48: 3rem;

  /* Breakpoints */
  --breakpoint-XS: 320px;
  --breakpoint-S: 480px;
  --breakpoint-M: 768px;
  --breakpoint-L: 1024px;
  --breakpoint-XL: 1280px;

  /* Spacing — use in margin, padding, gap */
  --spacing-01: 0.125rem;
  --spacing-02: 0.25rem;
  --spacing-03: 0.5rem;
  --spacing-04: 0.75rem;
  --spacing-05: 1rem;
  --spacing-06: 1.5rem;
  --spacing-07: 2rem;
  --spacing-08: 2.5rem;
  --spacing-09: 3rem;
  --spacing-10: 4rem;
  --spacing-11: 5rem;
  --spacing-12: 6rem;
  --spacing-13: 10rem;

  /* Widths */
  --width-wide: min(100% - calc(var(--spacing-05) * 2), var(--breakpoint-L));
  --width-columm-sm: min(
    100% - calc(var(--spacing-05) * 2),
    var(--breakpoint-S)
  );

  /* Height */
  --input-height: 2.75rem;
}

/* RESET */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button,
input,
select,
textarea {
  border: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

body,
html {
  background-color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  scroll-behavior: smooth;
  color: var(--black);
  width: 100%;
  height: 100%;
}

ol,
ul {
  list-style-type: none;
  font-size: var(--scale-16);
  line-height: 1.3;
}

button {
  background: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
  color: inherit;
  outline: inherit;
}

a:focus-visible,
button:focus-visible {
  outline: 2.5px solid var(--black);
  border-radius: 0.05rem;
}

p {
  font-size: var(--scale-16);
  line-height: 1.5;
}

a {
  color: var(--black);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 0.4em;
  text-decoration-thickness: 0.1em;
}

a:active {
  color: black;
}

strong {
  font-weight: 500;
}

main {
  width: var(--width-columm-sm);
  margin-inline: auto;
}

/* LAYOUT */

.two-col {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media screen and (min-width: 480px) {
  .two-col {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* COLOR SAMPLE */

.color-sample {
  height: 12rem;
  border-radius: 0.25rem;
  padding: var(--spacing-05);
}

/* TEXT INPUT */

.input-container {
  display: flex;
  flex-direction: column;

  input[type="text"] {
    height: var(--input-height);
    padding: var(--spacing-03);
    border: 1px solid var(--gray);
    border-radius: 0.125rem;
  }
}
